/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
/* Extra Large desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  padding: 10px;
}

h3 {
  font-size: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 1em;
}

ul,
li,
a,
button {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 1em;
  display: list-item;
}

@media (max-width: 480px) {
  hr {
    width: 80%;
    border-style: solid;
    border-color: #2a324b;
    margin: 5px;
  }
}

@keyframes bouncing {
  0% {
    transform: rotate(35deg);
    transform: scale(2);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template: "header header" auto "aside main" 1fr "footer footer" auto/200px 1fr;
}
@media (max-width: 480px) {
  .grid-container {
    grid-template: "header" auto "aside" 1fr "main" 1fr "footer" auto/1fr;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  height: 120px;
  color: var(#2a324b);
}
.header .profile {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-shrink: 0;
  width: 200px;
}
.header .profile .pic-profile {
  height: 100%;
  width: 120px;
  border-radius: 50%;
  border: 0.3rem solid;
  border-color: #7392b7;
}
.header .hook {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .hook span {
  display: inline-block;
  animation: 3s 1 bouncing;
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.aside .block {
  box-sizing: border-box;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #759eb8;
}
.aside .block ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .aside {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
@media (max-width: 480px) {
  .main {
    justify-content: center;
    align-items: center;
  }
}
.main .block {
  box-sizing: border-box;
  width: 90%;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #759eb8;
}
@media (max-width: 480px) {
  .main .block {
    margin-left: 0;
  }
}
.main .block ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (max-width: 480px) {
  .main .block ul {
    flex-direction: column;
  }
}
.main .block ul .info-block {
  margin-bottom: 10px;
  display: grid;
  grid-template: "date title" auto "date body" auto/100px 1fr;
}
.main .block ul .info-block-date {
  grid-area: date;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px;
  padding-right: 1rem;
  margin-right: 1rem;
}
.main .block ul .info-block-title {
  grid-area: title;
  margin: 0;
  padding-top: 0;
}
.main .block ul .info-block-body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}
.main .block ul .info-block-body li {
  list-style: circle;
}

.footer {
  background-color: #759eb8;
  grid-area: footer;
  margin-top: 15px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
