@use "./media-queries" as *;

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  padding: 10px;
}

h3 {
  font-size: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 1em;
}

ul,
li,
a,
button {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 1.3em;
  display: list-item;
}

hr {
  @include xs {
    width: 80%;
    border-style: solid;
    border-color: #2a324b;
    margin: 5px;
  }
}
