@use "./media-queries" as *;
@use "./reset" as *;
@use "./base" as *;
@use "./partial_animations" as *;

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template:
    "header header" auto
    "aside main" 1fr
    "footer footer" auto
    / 200px 1fr;
  @include xs {
    grid-template:
      "header" auto
      "aside" 1fr
      "main" 1fr
      "footer" auto
      / 1fr;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  height: 120px;
  color: var(#2a324b);
  .profile {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    width: 200px;
    .pic-profile {
      height: 100%;
      width: 120px;
      border-radius: 50%;
      border: 0.3rem solid;
      border-color: #7392b7;
    }
  }
  .hook {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      display: inline-block;
      animation: 3s 1 bouncing;
    }
  }
  @include xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .block {
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #759eb8;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  @include xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  @include xs {
    justify-content: center;
    align-items: center;
  }
  .block {
    box-sizing: border-box;
    width: 95%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #759eb8;
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      @include xs {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
      .info-block {
        margin-bottom: 10px;
        display: grid;
        grid-template:
          "date title" auto
          "date body" auto
          / 100px 1fr;
        &-date {
          grid-area: date;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: solid 1px;
          padding-right: 1rem;
          margin-right: 1rem;
        }
        &-title {
          grid-area: title;
          margin: 0;
          padding-top: 0;
        }
        &-body {
          grid-area: body;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 10px;
          li {
            list-style: circle;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #759eb8;
  margin-top: 10px;
  grid-area: footer;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
