@use "./media-queries" as *;

:root {
  @include xs {
    font-size: 62.5%;
  }
  @include sm {
    font-size: 75%;
  }
  @include md {
    font-size: 90%;
  }
  @include xl {
    font-size: 100%;
  }
  @include xxl {
    font-size: 110%;
  }
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
  --background-color: #b3c5d7;
  --font-color: #2a324b;
}
